@import "fonts";
@import "mixins";
@import "toggle";
@import "header";
@import "nav-bar";


html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: none;
  font-family: "Avenir", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  overflow-y: hidden;
  background-color: white;
}

.l-wrapper {
  display: flex;
  justify-content: normal;
  max-width: 1800px;
  padding: 0;
  margin: 0;
  height: calc(100% - 94px);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 36px;
  width: 100%;
}

.container--layout-1 {
  height: auto;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
  //opacity: .3;
}
.page-number {
  display: none;
}