/* VIDEO */

.page-ivid-container {
  /*width: 100px;*/
  /*height: 100px;*/
  background-color: black;

  //position: absolute;
  /*top:40px;*/
  /*bottom: 100px;*/
  //left: 0;
  /*right: 0;*/
  //height: 80%;
  //width: auto;

  margin: auto;
}

/* CENTRE & SCALE CONTAINER */
.page-center-scale-container {
  height: 100px;
  margin: auto;
}
