
/* VARIABLES */
$font-stack: Avenir, sans-serif;

$primary-color: #000000;
$heading-color: #343434;
$cityguilds-color: blue;
$bottom-border-color: #c4c4c4 1px solid;


$default-line-height: 1.3em;
$page-intro-leading: 1.8em;
$max-screen-width: 1200px;

/* MOBILE VARIABLES */
$page-intro-leading-mobile: 1.5em;
$default-font-size-mobile: 120%;


html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.slides-template {
  height: 100%;
}

section {
  padding-bottom: 10px;
}


.l-wrapper{
  //background-color: yellow;
  //
    display: flex;
    justify-content: normal;
    //max-width: 1200px !important;
    padding: 0 !important;
    height: calc(100% - 96px);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    margin: 0;
    top: 36px;
    width: 100%;
}

//GENERAL PAGE CONTENT
.container--layout-1, .container--media {
  /*max-width: 1200px;
    margin: 0 auto;*/
  width: auto;
  height: auto;
  padding:10px;
  //background-color:#fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: $primary-color;
  font-size: 100%;
  font-family: $font-stack;
  font-size: 1.2em;
  line-height: 1.6em;

  p {
    //font-size: 1.1em;
  }

  p:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
    margin-bottom: 0;
  }
}

/* PAGE STYLES */


.container--layout-1, .container--iquiz, .container--media {

  //HEADINGS
  .page-2col h1, .page-h1 {
    //margin: 0.4em 0 0.1em 0;
    margin: 5px 0 10px 0;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 1.2em;
    color: $heading-color;
  }

  .page-h2 {
    font-size: 1.3em;
    margin: 5px 0 10px 0;
    color: $heading-color;
  }

  .page-h3 {
    font-size: 1.1em;
    margin: 5px 0 5px 0;
    color: $heading-color;
  }

  //START SCREENS

  .page-startscreen {
    text-align: center;
    background: #c0c0c0;
    position: absolute;
    height: 70vh;
    width: calc(100% - 20px);
    height: calc(100% - 20px);;
    /*margin: 20px;*/
  }

  .page-startscreen:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .page-startscreen .float-center {
    //border: #a0a0a0 solid 1px;
    display: inline-block;
    vertical-align: middle;
    width: 90%;
  }

  .page-startscreen .page-logo{
    width: 30%;
    min-width:200px;
    padding-bottom: 20px;
  }
}

.container--iquiz .page-startscreen{
  //QUIZ DOESNT HAVE PADDING BECAUSE OF OVERLAY
  margin: 10px 10px;
}






//MAIN PAGE CONTENT
.container--layout-1 {

  /* PAGE COLUMN LAYOUTS */

  .page-1col {
    padding: 10px 0 0 0;
  }

  .page-2col {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
  .page-2col + .page-2col {
    margin-top: 20px;
    border-top: solid 1px #c4c4c4;
    padding-top: 10px;
  }

  .page-col-2-1 {
    flex: 1;
    padding: 20px 20px 0 0;
    //background-color: yellow;
  }

  .page-col-2-2 {
    flex: 1;
    padding: 20px 0 0 0;
  }
  .page-col-2-2 img {
    width: 100%;
    height: auto;
    max-width: 500px;
    //max-height: 600px;
    margin: 0 auto;
    display: block;
  }
  .page-col-2-2 img + img {
    margin-top: 5px;
  }


  .page-u-list ul {
    //background-color: red;
    //width: 90%;
    //font-size: 1.1em;
    line-height: 1.6em;
    //margin:5px 0 5px -15px;
  }
  .page-u-list ul li {
    padding: 3px 0;
    //font-size: 1.1em;
    //line-height: 1.6em;
  }




  /*  GO FULL WIDTH AT LESS THAN 600 PIXELS */
  @media only screen and (max-width: 600px) {

    //p {
    //  font-size: 1.1em;
    //}

    .page-2col {
      display: block;
    }
    .page-col-2-1 {
      padding: 10px 0 0 0;
    }
    .page-col-2-2 {
      //padding: 0 5px 20px 5px;
    }

  }


  ///* Portrait and Landscape */
  //@media only screen and (min-device-width: 375px) and (max-device-width: 710px) and (-webkit-min-device-pixel-ratio: 2) {
  //  body {
  //    /*font-size: 80%;*/
  //  }
  //  .page-section {
  //    padding: 5px;
  //  }
  //  .page-col {
  //    margin: 1% 0 1% 0;
  //  }
  //  .page-span_2_of_2, .page-span_1_of_2 {
  //    width: 100%;
  //    padding-bottom: 1.4%;
  //    border-bottom: #c4c4c4 1px solid;
  //  }
  //  .page-group {
  //    border-bottom: none;
  //  }
  //  .page-page-intro {
  //    line-height: 1.5em;
  //    width: 100%;
  //  }
  //  .page-table-container, .page-table-container-75 {
  //    -webkit-overflow-scrolling: touch;
  //    overflow-x: scroll;
  //  }
  //  .page-table-container img {
  //    width: 800px;
  //    height: auto;
  //  }
  //  .page-table-container-75 img {
  //    width: 600px;
  //  }
  //  .page-container-2col {
  //    display: block;
  //  }
  //}
  //
  ///* Landscape */
  //@media only screen and (min-device-width: 375px) and (max-device-width: 710px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  //  .page-container-2col {
  //    display: flex;
  //  }
  //}

}






