.l-header {
  display: flex;
  align-items: center;
  position: fixed;
  height: 1rem;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #f1f1f1;
  z-index: 1;
}
.l-nav-bar {
  position: fixed;
  background-color: #f1f1f1;
  width: 100%;
  z-index: 1;
  bottom: 0;
  height: 60px;
}
.l-wrapper {
  display: flex;
  justify-content: normal;
  max-width: 1800px;
  padding: 36px 0;
}
.container--layout-1 {
  height: auto;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
}